{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <a href="/" class="logo">Educa</a>
    </div>
    <div style="margin-right: 20px">
        {% if request.user.is_authenticated %}
            Hello {{ request.user.first_name }},<a href="{% url "courses:password_change" %}">修改密码</a>
            <a href="{% url "courses:logout" %}">Logout</a>
        {% else %}
            <a href="{% url "courses:login" %}">Log-in</a>
        {% endif %}
    </div>
    <div id="content">
        {% block content%}
        {% endblock %}
    </div>
</body>
</html>